@use "../../node_modules/reset-css/sass/reset";

html,
body,
#root {
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    background: 'white';
    color: 'black';
    line-height: 1.2;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
