@import "../../styles/vars";
@import "../../styles/mixins";

.main-page {
  @include common-placement;
}

.tabs {
  padding: 1rem;
  gap: 1rem;
}

.estimates {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.estimate {
  width: 230px;
  padding: 0.5rem;
  border: 1px solid #6e6e6e;
  border-radius: 5px;
}
